@import url("https://use.typekit.net/oot8rwl.css");
@import "https://fonts.googleapis.com/css?family=Poppins:400,600|Roboto:200,300,500|Source+Sans+Pro";

// Variables

$bgcolorlight: #d5d0cd;

$bgcolordark: #130b08;

$bgcolorgreen: #1D211C;

$bgcolorgreen2: #788A72;

$bgcolorgreen3: #97AD8F;

$textcolor1: #F0F0F0;

$textcolor2: #FAFAFA;

%h1font {
    font: 400 100%/1.6 Brandon Grotesque, Helvetica, sans-serif;
    font-size: 5rem;
    color: white;
}

%h2font {
    font: 400 100%/1.6 Brandon Grotesque, Helvetica, sans-serif;
    font-size: 2rem;
    padding-bottom: 25px;
}

%h3font {
    font: 400 100%/1.6 Brandon Grotesque, Helvetica, sans-serif;
    font-size: 1.6rem;
}

%h4font {
    font: 400 100%/1.6 Brandon Grotesque, Helvetica, sans-serif;
}

%navfont {
    font: 300 100%/1.6 Poppins, Helvetica, sans-serif;
    font-size: .9rem;
}


%pfont {
    font: 300 100%/1.4 Roboto, Helvetica, sans-serif;
    letter-spacing: 1px;
    font-size: .8rem;
    
}


%cardfont {
    font: 300 100%/1.4 Roboto, Helvetica, sans-serif;
}
// Reusable default silent class


// Mixins